@using UserManagementMvc.Models
@model UpdateStudentModel

<form asp-controller="Student" asp-action="Edit" method="post" style="padding:50px">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control input" aria-describedby="nameHelp" placeholder="Enter name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input type="email" asp-for="Email" class="form-control input" aria-describedby="emailHelp" placeholder="Enter email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input type="tel" asp-for="Phone" class="form-control input" aria-describedby="phoneHelp" placeholder="Enter phone">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Age" for="exampleInputEmail1">Age</label>
        <input type="number" asp-for="Age" class="form-control input" id="exampleInputAge" aria-describedby="ageHelp" placeholder="Enter age">
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
   
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>